body{
    animation: change 10s ease infinite;
    background: linear-gradient(-45deg, green, yellow, blue, red)  no-repeat;
    height: 100vh;

}
#kita{
    width: 300px;
    height: 300px;
    background-color: rgb(14, 157, 228);

    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

    display: grid;
    place-items: center;

    transition-property: background-color, border-radius;
    transition-duration: 2s, 1.5s;
    transition-timing-function: ease-out;
}
#kita>img{
    width: 300px;
    height: 300px;
}
#kita:hover{
    background-color: rgb(47, 0, 255);
    border-radius: 50%;
}
#box{
    width: 200px;
    height: 200px;
    margin: 10px;


    animation-name: walk;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#box>img{
    width: 400px;
    height: 400px;
    position: absolute;
}
@keyframes float {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(100px);
    }

}
@keyframes walk {
    0%{
        transform: translateX(220vh);
    }
    100%{
        transform: scale(-1, 1);

    }
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}